<%- include('../includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/product.css"> -->
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>
    <p>Cart page here!</p>

    <%- include('../includes/end.ejs') %>